body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.home_bg {
    background-image: url("../img/home_bg.png");
    height: auto;
    padding-bottom: 160px;
    padding-top: 80px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover, a:active, a:focus, a {
    text-decoration: none;
}