<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="pt-5">
    <form action="./admin" method="POST" id="signinForm" class="mdl-card mdl-shadow--8dp p-4 m-auto">
        <h3 class="h3 mdl-color-text--accent text-center mt-0">Admin Sign In</h3>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="userid" class="mdl-textfield__input mb-2" type="text" name="userid">
            <label class="mdl-textfield__label">User name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="password" class="mdl-textfield__input mb-2" type="password" name="password">
            <label class="mdl-textfield__label">Password</label>
        </div>
        <input class="d-none" type="text" name="type" value="admin_signin">
        <button id="signin" type="submit" class="mdl-button--colored mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Continue</button>
    </form>

    <!-- js files -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/material.js"></script>
</body>

</html>