<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/dash.css">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include 'navigation.html' %}
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="container mb-5" align="center">
                    <h1 class="h1 text-center mb-4 pb-2">Dexter Ground</h1>

                    <div class="row cwidth">
                        <div class="col-6 p-0" align="left">
                            <button class="mdl-button mdl-button--colored" data-toggle="modal" data-target="#ModalCenter">Quit
                                challenge
                            </button>
                        </div>
                        <div class="col-6 p-0" align="right">
                            <div>
                                <a id="prev" class="mdl-button--accent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect p-0"
                                    href="#challengeCard" role="button" data-slide="prev">
                                    <i class="material-icons">
                                        keyboard_arrow_left
                                    </i>
                                </a>
                                <a id="next" class="mdl-button--accent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect p-0"
                                    href="#challengeCard" role="button" data-slide="next">
                                    <i class="material-icons">
                                        keyboard_arrow_right
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="challengeCard" class="mt-4 carousel slide mdl-card mdl-shadow--8dp text-center cwidth p-4"
                        data-wrap="false" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h2 class="h2">{{ c_name }}</h2>
                                <p class="text-justify">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ challenge['intro'] }}</p>
                            </div>
                            <div class="carousel-item">
                                <h2 class="h2">Engage</h2>
                                <p class="text-justify">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ challenge['engage'] }}</p>
                            </div>
                            <div class="carousel-item">
                                <h2 class="h2">Explore</h2>
                                <iframe class="mt-4 mb-4 cwidth_f mx-auto" src="{{ challenge['explore']['media'] }}"
                                    frameborder="0" allowfullscreen>
                                </iframe>
                                <p class="text-justify">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ challenge['explore']['intro'] }}</p>
                            </div>
                            <div class="carousel-item">
                                <h2 class="h2">Explain</h2>
                                <p class="text-justify">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ challenge['explain'] }}</p>
                            </div>
                            <div class="carousel-item">
                                <h2 class="h2">Elaborate</h2>
                                <p class="text-justify">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ challenge['elaborate'] }}</p>
                            </div>
                            <div class="carousel-item">
                                <h2 class="h2">Evaluate</h2>
                                <p class="text-justify">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Congratulations on comming to the
                                    end. Now inorder to test your knowledge and to complete the challenge, we need to
                                    evaluate your understanding. Take the evaluation test given below. By the
                                    end of evaluation your progress will be saved.</p>
                                <a href="{{ challenge['evaluate'] }}" class="mdl-button--primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Take
                                    evaluation test</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row cwidth">
                        <div>
                            <a id="prev" class="mdl-button--accent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect p-0"
                                href="#challengeCard" role="button" data-slide="prev">
                                <i class="material-icons">
                                    keyboard_arrow_left
                                </i>
                            </a>
                            <a id="next" class="mdl-button--accent mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect p-0"
                                href="#challengeCard" role="button" data-slide="next">
                                <i class="material-icons">
                                    keyboard_arrow_right
                                </i>
                            </a>
                        </div>
                    </div> -->

                </div>
            </div>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You have not completed the challenge yet and your progress is not saved. Finsih the challenge to
                    save your progress. If you go back, you will have to take the challenge from the beginning.
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdl-button mdl-button--accent" data-dismiss="modal">Cancel</button>
                    <button id="quit" type="button" class="mdl-button mdl-button--primary">Quit anyway</button>
                </div>
            </div>
        </div>
    </div>

    <!-- firebase init -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAANPqigBVAXMgbhnT317TYHYEN5fEb_G0",
            authDomain: "dexter-classroom-p2.firebaseapp.com",
            databaseURL: "https://dexter-classroom-p2.firebaseio.com",
            projectId: "dexter-classroom-p2",
            storageBucket: "dexter-classroom-p2.appspot.com",
            messagingSenderId: "743944977153"
        };
        firebase.initializeApp(config);
    </script>
    <!-- js files -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/material.js"></script>
    <script src="../static/js/dexter-ground.js"></script>
</body>

</html>