<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/dash.css">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include 'navigation.html' %}
    </div>
    <div class="container" style="padding-top: 40px;">
        <h1 class="h1 pt-4 mb-0 text-center">Dexter Challenges</h1>
        <div class="row">
            {% for x in challenges %}
            <div class="col-md-4 pr-4 pl-4 pt-4 pb-0">
                <!--  -->
                <div class="mdl-card mdl-shadow--8dp mdl-color--grey w-100">
                    <div class="mdl-card__title mdl-card--expand">
                        <h4 class="h4 mdl-color-text--white">{{ x }}</h4>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="text-white mdl-button mdl-color--accent mdl-js-button mdl-js-ripple-effect float-right">Take
                            Challenge</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- firebase init -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAANPqigBVAXMgbhnT317TYHYEN5fEb_G0",
            authDomain: "dexter-classroom-p2.firebaseapp.com",
            databaseURL: "https://dexter-classroom-p2.firebaseio.com",
            projectId: "dexter-classroom-p2",
            storageBucket: "dexter-classroom-p2.appspot.com",
            messagingSenderId: "743944977153"
        };
        firebase.initializeApp(config);
    </script>
    <!-- js files -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/material.js"></script>
</body>

</html>