<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>dexter Classroom</title>
        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/css/material.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>

    <body class="bg-light">

        <div id="main-content" class="d-block">
            <div class="home_bg">
                <a href="/">
                    <h1 class="display-3 text-white text-center"><b class="font-weight-bold">dexter</b>
                        Classroom</h1>
                </a>
            </div>
        </div>

        <!-- js files -->
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/bootstrap.bundle.js"></script>
        <script src="../static/js/material.js"></script>
    </body>

    </html>
</body>

</html>