<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dexter Classroom</title>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>

    <div id="main-content" class="d-block">
        <div class="home_bg">
            <a href="/">
                <h1 class="display-3 text-white text-center"><b class="font-weight-bold">dexter</b>
                    Classroom</h1>
            </a>
        </div>
        <div class="pb-5">
            <form action="./" method="POST" id="signinForm" class="mdl-card mdl-shadow--8dp m-auto p-4">
                <h3 class="h3 mdl-color-text--accent text-center mt-0">Sign In</h3>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="userid" class="mdl-textfield__input mb-2 text-uppercase" type="text" name="userid">
                    <label class="mdl-textfield__label">User id</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="password" class="mdl-textfield__input mb-2 pr-5" type="password">
                    <label class="mdl-textfield__label">Password</label>
                    <i id="eye" class="material-icons mdl-color-text--accent float-right pl-4" style="margin-top: -35px; width:50px">visibility</i>
                </div>
                <p class="text-right"><a href="/help">Help?</a></p>
                <button id="signin" type="button" class="mdl-button--colored mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Continue</button>
            </form>
        </div>
    </div>

    <!-- firebase init -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAANPqigBVAXMgbhnT317TYHYEN5fEb_G0",
            authDomain: "dexter-classroom-p2.firebaseapp.com",
            databaseURL: "https://dexter-classroom-p2.firebaseio.com",
            projectId: "dexter-classroom-p2",
            storageBucket: "dexter-classroom-p2.appspot.com",
            messagingSenderId: "743944977153"
        };
        firebase.initializeApp(config);
    </script>
    <!-- js files -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/material.js"></script>
    <script src="../static/js/home.js"></script>
</body>

</html>